<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> Eat-Da-Burger! </h1>
		</div>

		{{!-- Map all undevoured burgers showing burger name and id, with button to devour --}}
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burgers}}
			  	{{#unless this.devoured}}
				<div class="col-md-8 text-left">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				</div>
				<div class="col-md-4 text-center">
					<form class="devour-form button-size">
						<input type="hidden" class="burger_id" type="text" value={{this.id}}>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>

		{{!-- Map all devoured burgers showing burger name and id--}}
		<div class="col-md-6 text-center" class="task">
			  {{#each burgers}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
	
	{{!-- Form for submitting new burgers --}}
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<form action="/api/burgers" method="POST" id="createburger">
					<textarea type="text" name="burger"></textarea><br>
					<button type="submit" id="burgersubmit">Submit</button>
					<p>Enter a burger you'd like to eat and hit the submit button</p>
				</form>
			</div>
		</div>
	</div>
</div>
